body {
  margin: 0;
  background-color: #292929;
  display: block;
  position: relative;
}

a {text-decoration: none;}

b {
  font-family: 'Lato', sans-serif;
  font-size: 10px;
  letter-spacing: 1px;
}

h1 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.text-center {
  text-align: center;
}

.text-white {
  color: #fffbf4;
}

.center-block {
  margin: 0 auto;
  display: block;
}

.rounded-btn {
  border-radius: 5px;
}

.limit-width {
  max-width: 700px;
  margin: auto;
  display: block;
}

#links {
  margin: 5px;
  height: 40px;
  position: relative;
  float: right;
  top: 0px;
  display: inline-block;
}

.link-btn {
  width: 40px;
  height: auto;
  border: none;
  display: inline-block;
  margin: 0;
  background: #878787;
}

.link-btn:hover {
  filter: grayscale(75%);
  filter: brightness(80%);
  transition: width 0.1s, height 0.1s;
  margin: 0 auto;
  
}

#header {
  width: 100vw;
  margin-top: 100px;
  color: #878787;
  font-family: 'Lato', sans-serif;
  letter-spacing: 1px;
  font-size: 8px;
  display: block;
  position: absolute;
}

#header .title {
  font-size: 18px;
}

#header .name{
  font-size: 30px;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: -1.5px;
  color: #cfcfcf;
  text-shadow: 0.5px 0.5px hsl(0, 0%, 45%);
}

#header .body-link {
  color: #cfcfcf;
}
#header .body-link:hover {
  text-decoration: underline;
}

#projects {
  display: block;
  position: relative;
}
