body {
  margin: 0;
  background-color: #292929;
}

a {text-decoration: none;}

b {
  font-family: 'Lato', sans-serif;
  font-size: 10px;
  letter-spacing: 1px;
}

h1 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.text-center {
  text-align: center;
}

.text-white {
  color: #fffbf4;
}

.center-block {
  margin: 0 auto;
  display: block;
}

.no-margin {
}


.flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.rounded {
  border-radius: 50px;
}

.rounded-btn {
  border-radius: 5px;
}

.light-padding {
  padding: 5px;
}

.limit-width {
  max-width: 700px;
  margin: auto;
  display: block;
}

.link-btn {
  width: 40px;
  height: auto;
  border: none;
  display: inline-block;
  margin: 0;
}

.link-btn:hover {
  filter: grayscale(75%);
}

#header {
  padding-top: 70px;
  height:230px;
  color: #878787;
  font-family: 'Lato', sans-serif;
  letter-spacing: 1px;
  font-size: 8px;
}

#header .title {
  font-size: 18px;
}

#header .name{
  font-size: 30px;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: -1.5px;
  color: #cfcfcf;
  text-shadow: 0.5px 0.5px hsl(0, 0%, 45%);
}

#header .body {
}

#header .body-link {
  color: #cfcfcf;
  font-family: 'Lato', sans-serif;
}
#header .body-link:hover {
  text-decoration: underline;
}

#links {
  height: 40px;
  position: absolute;
  right: 0px;
  top: 0px;
  display: inline-block;
  background: #878787;
}

#bottom-panel {
  
}
