body {
  margin: 0;
  background-color: #2a2a2a;
}

a {text-decoration: none;}

b {
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  letter-spacing: 1px;
}

.text-center {
  text-align: center;
}

.text-white {
  color: #fffbf4;
}

.center-block {
  margin: 0 auto;
  display: block;
}


.flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.rounded {
  border-radius: 50px;
}

.rounded-btn {
  border-radius: 5px;
}

.light-padding {
  padding: 5px;
}

.limit-width {
  max-width: 700px;
  margin: auto;
  display: block;
}

.link-btn {
  width: 25px;
  height: auto;
  border: none;
  display: inline-block;
}

.link-btn:hover {
  filter: grayscale(75%);
}

#header {
  padding-top: 70px;
  height:230px;
  color: #878787;
  font-family: 'Lato', sans-serif;
  letter-spacing: 1px;
  font-size: 10px;
}

#header .title{
  font-size: 30px;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: -1.5px;
  color: #a5a5a5;
  text-shadow: 0.5px 0.5px hsl(0, 0%, 45%);
}

#links {
  height: 50px;
  position: absolute;
  right: 10px;
  top: 10px;
  display: inline-block;
}
